body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}
#title {
    text-align: center;
}
.games {
    display: grid;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
    gap: 20px;
}
.game {
    height: 200px; width: 200px;
}